transformers-stream-generator
huggingface_hub
albumentations
qwen-vl-utils
pyvips-binary
sentencepiece
opencv-python
docling-core
transformers
python-docx
torchvision
supervision 
matplotlib
accelerate
pdf2image
num2words
reportlab
html2text
markdown
requests
pymupdf
loguru
hf_xet
spaces
pyvips
pillow
gradio
einops
httpx
numpy
click
torch
peft
fpdf
timm
av
